:host {
    position: sticky;
}


.find-form {
    margin: 10px;
        padding-left: 135px;
}

.find-input {
    width: 200px;
    height: 36px;
    transition: .3s linear;
    padding-left: 16px;
    border: 1px solid var(--light-color);
    background-color: var(--dark-color);
    color: var(--light-color);
    &:focus {
        width: 600px;
    }
}

.find-input::placeholder {
    padding-left: 16px;
    color: var(--light-color);
}

.find-but {
    width: 42px;
    height: 42px;
    border: none;
    background: none;
    right: 42px;
    top: 8px;
    font-size: 30px;
    position: relative;
}

.svg-icon {
    width: 24px;
    height: 24px;
    color: var(--light-color);
}