<form class="exchange-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="label-grid">
        <label class="label" for="Base currency">Base currency</label>
        <label class="label" for="Target currency">Target currency</label>
        <label class="label" for="Rate">Rate</label>
    </div>
    <div class="one-line">
        <select formControlName="baseCurrencyCode" class="select-currency" (focus)="saveCurrency()" required>
            @for (currency of currencies; track currency.id) {
            <option [value]="currency.code">{{currency.fullName}} {{currency.sign}}</option>
            }
        </select>
        <select formControlName="targetCurrencyCode" class="select-currency" (focus)="saveCurrency()" required>
            @for (currency of currencies; track currency.id) {
            <option [value]="currency.code">{{currency.fullName}} {{currency.sign}}</option>
            }
        </select>
        <input id="rate" formControlName="rate" type="number" step="0.001" min="0" value="0" class="input-amount" />
    </div>
    <div class="subbline">
        <button class="btn" type="submit">
            Send
        </button>
        <app-exception [exception]="exception"></app-exception>
    </div>
</form>