<form class="exchange-form"
[formGroup]="form"
(ngSubmit)="onSubmit()">
    <div class="one-line">
        <input name="amountExchange" formControlName="amountExchange"
        type="number" step="0.01" min="0" value="0" class="input-amount">

            <select name="baseCurrency" formControlName="baseCurrency"
            class="select-currency" required>
                @for (currency of baseCurrency; track currency.id) {
                <option label={{currency.fullName}}>{{currency.id}}</option>
                }
            </select>

    </div>
    <div class="one-line">
        <input type="number" step="0.01" min="0" class="input-amount" disabled/>

            <select name="targetCurrensy" formControlName="targetCurrency"
            class="select-currency" required>
                @for (currency of targetCurrency; track currency.id) {
                <option label={{currency.fullName}}>{{currency.id}}</option>
                }
            </select>
    </div>
    <div>
        <button class="btn" type="submit">
            Convert
        </button>
    </div>
</form>