@import "fonts";

:root {
    --dark-color: #1c181c;
    --light-color: #FFFFFF;
    --primary-collor: #9b29c1;
    --black-collor: #000000;
    --button-dark-color: #100621;
}

body {
    background: var(--dark-color);
    color: var(--light-color);
}

.btn {
    font-weight: 600;
    width: 200px;
    border: none;
    background: var(--primary-collor);
    color: var(--dark-color);
    padding: 10px 20px;
    border-radius: 0px;
    box-shadow: 0 2px 5px #13031e;
    margin: 10px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;


    &:hover {
        border-color: var(--primary-collor);
        box-shadow: 0 2px 8px var(--primary-collor);
    }
}

h1 {
    font-weight: 800;
    line-height: 56px;
    font-size: 48px;
    text-align: center;
}

h2 {
    text-align: center;
}

.input-amount {
    font-weight: 500;
    padding: 8px 16px;
    margin: 0px;
    font-size: 18px;
    background-color: #d4afe0;
    color: var(--button-dark-color);
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid grey;
    border-bottom: 0px solid grey;
    border-top: 0px solid grey;
    border-left: 0px solid grey;

    cursor: pointer;
}


.select-currency {
    padding: 10px 15px;
    margin: 0px;
    font-size: 18px;
    background-color: #d4afe0;
    color: var(--button-dark-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid grey;
    border-bottom: 0px solid grey;
    border-top: 0px solid grey;
    border-left: 0px solid grey;
    cursor: pointer;
}

.input-amount::-webkit-inner-spin-button,
.input-amount::-webkit-outer-spin-button {
    -webkit-appearance: none;
}