@if(exchangerate) {
    <div class="currency-card">
        <div class="currency-field">
            <strong>{{exchangerate.baseCurrency.fullName}} - {{ exchangerate!.baseCurrency.code }}</strong>
        </div>
        <div class="currency-field">
            <strong>{{exchangerate.targetCurrency.fullName}} - {{ exchangerate!.targetCurrency.code }}</strong>
        </div>
        <div class="currency-field">
            <strong>{{ exchangerate!.rate }}</strong>
        </div>
    </div>
} @else {
    Error: exchangerate not found!
}

