.currency-card {
    border: 1px solid var(--light-color);
    padding: 36px 20px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 36px;
    margin: 0 auto;
}

.currency-field {
    border: 1px solid var(--light-color);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}